<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button" href="https://docs.cki-project.org">
                        <i class="fa fa-book"></i>{{ if not .Site.Params.hideSidebarIconText }} Documentation{{ end }}
                    </a>
                </li>
                {{ if .Site.Params.twitterName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://twitter.com/{{ .Site.Params.twitterName }}">
                        <i class="fa fa-twitter"></i>{{ if not .Site.Params.hideSidebarIconText }} Twitter{{ end }}
                    </a>
                </li>
                {{ end }}
                {{ if .Site.Params.githubName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://gitlab.com/{{ .Site.Params.githubName }}">
                        <i class="fa fa-gitlab"></i>{{ if not .Site.Params.hideSidebarIconText }} GitLab{{ end }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="https://github.com/{{ .Site.Params.githubName }}">
                        <i class="fa fa-github-alt"></i>{{ if not .Site.Params.hideSidebarIconText }} GitHub{{ end }}
                    </a>
                </li>
                {{ end }}
                {{ if .Site.Params.stackOverflowId }}
                <li class="nav-item">
                    <a class="pure-button" href="https://stackoverflow.com/u/{{ .Site.Params.stackOverflowId }}">
                        <i class="fa fa-stack-overflow"></i>{{ if not .Site.Params.hideSidebarIconText }}Stack Overflow{{ end }}
                    </a>
                </li>
                {{ end }}
                {{ if .Site.Params.linkedinName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}">
                        <i class="fa fa-linkedin"></i>{{ if not .Site.Params.hideSidebarIconText }} LinkedIn{{ end }}
                    </a>
                </li>
                {{ end }}
                <li class="nav-item">
                    <a class="pure-button" href='{{ "index.xml" | absURL }}'>
                        <i class="fa fa-rss"></i>{{ if not .Site.Params.hideSidebarIconText }} rss{{ end }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
